<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            &copy;<b id="date"></b> Nathaniel D. Liebhart
        </div>
    </div>
</div>

<script>
    let year;
    year = new Date();

    document.getElementById("date").innerHTML = year.getFullYear();
</script>