<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="logo">
          <a href="/"><img src="img/bootmag-logo.png" width="234" height="67" alt="Bootmag"></a>
        </div>
        <div class="filters">
          <div class="selected"><a href="#">All</a></div>
          <div><a href="#">Design</a></div>
          <div><a href="#">Illustration</a></div>
          <div><a href="#">Painting</a></div>
          <div><a href="#">Web</a></div>
        </div>
        <div class="search">
          <form>
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</header>