// Variables
$website-width: 1280px;
$main-color: #7b82f0;
$light-color: #46fff4;
$medium-color: #1fb6ff;
$dark-color: #312567;
$bg-image: url("../src/assets/img/showcase.jpg");

// Set text color - function
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
